{% extends "layout.html" %}
{% block title %}FeralSync{% endblock %}

{% block content %}

<div id="main" ng-app="FeralSync">
  <div ng-view></div>
</div>

<script src="/home.js"></script>

{% endblock %}