<!DOCTYPE html>
<html ng-app="FeralSync">
  <head>
    <title>Feral Sync - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.png">

    <!--
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>

    <script src="//rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
    -->
    <!--<script src="//rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>-->

    <script src="/lib/jquery-1.11.3.min.js"></script>
    <script src="/lib/jquery-migrate-1.2.1.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>

    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script src="/lib/angular-animate.js"></script>

    <script src="/lib/ui-bootstrap-tpls-0.13.4.js"></script>

    <script src="/lib/angular-websocket.js"></script>
    <script src="/lib/spin.min.js"></script>

    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    -->

    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/main.css"/>

    {% block header %}
    {% endblock %}

  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo"><img src="alelec_logo.png"/> FERAL SYNC</h1>
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <div class="table">
        <div class="row">
          <div class="cell" >
            <a href="{{ sickrage_url }}">Sickrage</a>
          </div>
          <div class="cell">
            <a href="{{ couch_url }}">Couchpotato</a>
          </div>
          <div class="cell">
            <a href="{{ transmission_url }}">Transmission</a>
          </div>
        </div>
      </div>

    </footer>
  </body>
</html>
