<div ng-controller="FeralSyncController">

    <div id="total">
        <button ng-click="refresh()"><img src="/icons/Refresh.png" /></button>
        <span>Total: </span><div id="total_num">{{ total_rate | display_rate }}</div>
        <button id="settings" ng-click="settings_dlg()"></button>
    </div>

    <div class="table">
      <div class="row" ng-repeat="detail in progress">
        <div class="cell pause" >
            <div ng-switch on="detail['status']">
                <div ng-switch-when="Active"><button ng-click="pause(detail['filename'])"><img src="/icons/Pause.png" /></button></div>
                <div ng-switch-when="Paused"><button ng-click="resume(detail['filename'])"><img src="/icons/Play.png" /></button></div>
                <div ng-switch-default>&nbsp;</div>
            </div>
        </div>

          <div class="cell timestamp" >{{ detail['last_update'] * 1000 | date:'short' }}</div>

          <div class="cell filename" filename >
            <div class="filename_long">{{ detail['filename'] }}</div> <!-- hidden, just used to measure full length -->
            <div class="filename_details"><div class="filename_details_r">
              <div class="filename_head">{{ detail['filename'] }}</div>
              <div class="filename_fade">...</div>
              <div class="filename_tail"><div class="filename_tail_inner">{{ detail['filename'] }}</div></div>
            </div></div>
          </div>

          <div class="cell progress_cell">
              <progressbar animate="false" value="detail['percent']"><b>{{detail['percent'] | number:1}}%</b></progressbar>
          </div>

          <div class="cell filesize">{{ detail['filesize'] }}</div>

          <div class="cell status" ng-if="detail['status'] == 'Active'">{{ detail['rate'] | display_rate }}</div>
          <div class="cell status" ng-if="detail['status'] != 'Active'">{{ detail['status'] }}</div>

      </div>
    </div>

    <hr/>

    <div class="table">
      <div class="row" ng-repeat="detail in finished">

        <div class="cell pause" >
            <div ng-switch on="detail['status']">
                <div ng-switch-when="Done"  ><button ng-click="cleanup(detail['filename'])"><img src="/icons/CloseBlue.png" /></button></div>
                <div ng-switch-when="Error" ><button ng-click="cleanup(detail['filename'])"><img src="/icons/Reload.png" /></button></div>
                <div ng-switch-default>&nbsp;</div>
            </div>
        </div>

          <!--<div class="cell pause" ><a href="{{ detail['pause'] }}"><img src="{{ detail['pause_icon'] }}" /></a></div>-->
          <div class="cell timestamp" >{{ detail['last_update'] * 1000 | date:'short' }}</div>

          <div class="cell filename" filename >
            <div class="filename_long">{{ detail['filename'] }}</div> <!-- hidden, just used to measure full length -->
            <div class="filename_details"><div class="filename_details_r">
              <div class="filename_head">{{ detail['filename'] }}</div>
              <div class="filename_fade">...</div>
              <div class="filename_tail"><div class="filename_tail_inner">{{ detail['filename'] }}</div></div>
            </div></div>
          </div>

          <div class="cell progress_cell">
              <progressbar animate="false" value="detail['percent']"><b>{{detail['percent'] | number:1}}%</b></progressbar>
          </div>

          <div class="cell filesize">{{ detail['filesize'] }}</div>

          <div class="cell status" data-toggle="tooltip" data-original-title="{{detail.tooltip}}" tooltip-loader>{{ detail['status'] }}</div>

      </div>
    </div>

    <div id="status" class="table">
        <div class="row">
        <div class="cell text_left">
            {{ status }}
        </div>
        <div class="cell text_right" id="scanning_text">
            {{ scanning_text }}
        </div>
        <div class="cell text_right" id="scanning">
            &nbsp;
        </div>
      </div>
    </div>

    <div id="add_torrent_footer">
        <button id="add_torrent" ng-click="transmission_dlg()"></button>
    </div>

    <div id="dropzone" ng-show="dropzone_visible>0">
        <div class="table">
            <div class="row">
                <div class="cell dropcell" filedropzone="movies">
                    <span>MOVIES</span>
                </div>
                <div class="cell dropcell" filedropzone="tvshows">
                    <span>TVSHOWS</span>
                </div>
                <div class="cell dropcell" filedropzone="downloads">
                    <span>DOWNLOADS</span>
                </div>
            </div>
        </div>
    </div>

</div>
