<div class="transmission-header">
  <h2>Add torrent to Transmission</h2>
</div>
<div class="transmission header-body">

    <form class="form-horizontal">
      <fieldset>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="url">Torrent URL</label>
        <div class="col-md-6">
        <input id="url" name="url" type="text" placeholder="magnet:?xt=" class="form-control input-md" ng-model="transmission.url">
        </div>
      </div>

      <!-- File Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="file">Torrent File</label>
        <div class="col-md-6">
          <input id="file" name="file" class="input-file" type="file" onchange="angular.element(this).scope().set_file(this)">
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="destination">Type</label>
        <div class="col-md-6">
          <label class="radio-inline" for="destination-1">
            <input type="radio" name="destination" id="destination-1" value="movies" ng-model="transmission.type">
            movies
          </label>
          <label class="radio-inline" for="destination-0">
            <input type="radio" name="destination" id="destination-0" value="tvshows" ng-model="transmission.type">
            tvshows
          </label>
          <label class="radio-inline" for="destination-2">
            <input type="radio" name="destination" id="destination-2" value="download" ng-model="transmission.type">
            download
          </label>
        </div>
      </div>

      </fieldset>
  </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>