body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  position: fixed;
  z-index: 2;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  line-height: 1.5em;
  color: #fff;
  /*text-transform: uppercase;*/
  float: left;
}

header h1.logo img {
  margin-top: -5px;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Center the body content
 */
  
.container {
    width: 100%; /* 940px;*/
    /*margin: 0 16px;/!* auto;*!/*/
    text-align: center;
    padding-right: 6px;
    padding-left: 6px;
}

div#main {
    margin-top: 38px;
}

div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 
/*div.container {*/
  /*padding: 10px 0 10px 0;*/
/*}*/

h1 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
 
h2 {
  font-size: 1.9em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

div#total {
  position: fixed;
  right: 6px;
  top: 6px;
  color: white;
  z-index: 3;
}

div#total button {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
}

div#total img {
    width: 16px;
    height: 16px;
    border: none;
    display: inline-block;
}

div#total_num {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding-right: 3px;
  margin-right: 30px;
}

button#settings {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/icons/Settings.png");
    background-size: 16px;
    position: absolute;
    right: 0;
    top: 2px;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
  width: 100%;
}

.cell {
    display: table-cell;
    height: 1em;
    padding: 2px;
}

div.timestamp {
    /*width: 100px;*/
    /*max-width: 100px;*/
    vertical-align: top;
    white-space: nowrap;
}

div.filename {
    width: 60%;
    height: 1em;
    max-width: 40%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

div.filename_long {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    height: 0;
}

div.filename_details {
    display: table;
    width: 100%;
}

div.filename_details_r {
    width: 100%;
    display: table-row;
}

div.filename_head {
    display: table-cell;
    width: 50px;
    max-width: 50px;
    white-space: nowrap;
    overflow:hidden;
    background: white;
    vertical-align: top;
}

div.filename_fade {
    position: absolute;
    width: 45px;
    left: 35px;
    text-align: center;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 66%,rgba(255,255,255,0) 100%);
    z-index: 1;
}

div.filename_tail {
    display: table-cell;
    white-space: nowrap;
}

div.filename_tail_inner {
    position: absolute;
    right: 0;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
    overflow:hidden;
    z-index: -1;
    /*    -webkit-mask-image: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);*/
}

div.collapse {
    width: 0;
    /*display: inherit;*/
}

div.fullwidth {
    width: auto;
    max-width: 100%;
}

div.text_right {
    right: 0;
    text-align: right;
    padding-right: 10px;
}

div.text_left {
    left: 0;
    text-align: left;
    /*padding-right: 10px;*/
    /*padding-top: 5px;*/
}

div.overflow_fade {
    -webkit-mask-image: linear-gradient(to right, rgba(255,255,255,0) 8%,rgba(255,255,255,1) 13%);
}

div.status {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    vertical-align: top;
}

div.pause {
    width: 80px;
    max-width: 80px;
    vertical-align: top;
    padding-top: 1px;
}

div.pause button {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
}

div.pause img {
    width: 16px;
    height: 16px;
}

.popover {
  position: absolute;
  z-index: 100;
}

.progress {
    margin-bottom: 0;
}

div.progress_cell {
    width: 55%;
}

div.filesize {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    vertical-align: top;
}

div.modal-dialog {
    margin-top: 40px;
}

div.settings-header {
    background-color: #2B2B2B;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

.settings-header h1 {
  margin-left: 6px;
  margin-top: 3px;
  font-size: 1.7em;
  line-height: 1.2em;
  color: #fff;
  /*text-transform: uppercase;*/
  float: left;
}


.settings h2 {
  margin-left: 6px;
  margin-top: 3px;
  font-size: 1.1em;
  line-height: 0.9em;
  color: #222;
  float: left;
}

div.settings-key {
    padding-left: 16px;
    padding-right: 16px;
}

div.wider {
   width: 40%;
}

div.settings-value {
    padding-right: 16px;
    width: 100%;
}

div.settings-value input {
    width: 100%;
}

div.settings-remote-path {
    padding-left: 16px;
    width: 40%;
}

div.settings-local-path {
    width: 40%;
}

div.settings-dont-delete {
    width: 20%;
}

.btn-primary, .btn-warning {
    background-image: none;
}

.version {
    text-align: left;
    line-height: 50px;
}

#settings_spin {
    width: 16px;
    display: inline-block;
    position: absolute;
}

div#status {
    background-color: #FFFFFF;
    height: 30px;
    width: 100%;
    opacity: .9;
    border-top: 1px solid #eee;
    position: absolute;
    right: 0;
    bottom: 6px;
    padding-right:6px;
    padding-left:6px;
    left: 0;
    z-index: 2;
    text-align: center;
}

div#scanning {
    width: 30px;
}

div#dropzone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(255, 255, 255, .5);
}

div#dropzone div.table {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;

    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 10px;

}

.dropcell {
    display: table-cell;
    position: relative;
    border: 2px black solid;
    border-radius: 8px;
    top: 40px;
    width: 31%;
    height: 75%;
    line-height: 200px;
    text-align: center;
    z-index: 9999999999;

}

.dropcell span{
    line-height: 200px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
}

div.dropover{
    background-color: yellow;
}

footer {
    background-color: #2B2B2B;
    height: 30px;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}

footer a {
    color: white;
}

div#add_torrent_footer {
    position: absolute;
    width:30px;
    right: 15px;
    bottom: 7px;
    z-index: 3;
}

button#add_torrent {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/icons/Add.png");
    background-size: 16px;
    border: none;
    padding-top: 2px;
    margin-left: 16px;
    outline: none;
}