<div class="settings-header">
  <h1>Settings</h1>
</div>
<div class="settings header-body">

    <h2>Webdav Server</h2>
    <div class="table">
      <div class="row settings-row">
        <div class="cell settings-key" >url</div>
        <div class="cell settings-value" ><input type="text" name="url" ng-model="settings.server.url"></div>
      </div>
      <div class="row settings-row">
        <div class="cell settings-key" >username</div>
        <div class="cell settings-value" ><input type="text" name="username" ng-model="settings.server.username"></div>
      </div>
      <div class="row settings-row">
        <div class="cell settings-key" >password</div>
        <div class="cell settings-value" ><input type="password" name="password" ng-model="settings.server.password"></div>
      </div>
    </div>

    <h2>Sync Folders</h2>
    <div class="table">
      <div class="row settings-row" >
        <div class="cell settings-value settings-remote-path" >Remote Path</div>
        <div class="cell settings-value settings-local-path" >Local Path</div>
      </div>

      <div class="row settings-row" ng-repeat="target in settings['sync_targets']">
        <div class="cell settings-value settings-remote-path" ><input type="text" ng-model="target.remote_path"></div>
        <div class="cell settings-value settings-local-path" ><input type="text" ng-model="target.local_path"></div>
      </div>
    </div>

    <h2>Advanced</h2>
    <div class="table">
      <div class="row settings-row">
        <div class="cell settings-key wider" >Open browser on launch</div>
        <div class="cell settings-value" ><input type="checkbox" name="browser_on_launch" ng-model="settings.browser_on_launch"></div>
      </div>
      <div class="row settings-row">
        <div class="cell settings-key wider" >Web GUI Port</div>
        <div class="cell settings-value" ><input type="text" name="ui_server_port" ng-model="settings.ui_server_port"></div>
      </div>
      <div class="row settings-row">
        <div class="cell settings-key wider" >Concurrent File Transfers</div>
        <div class="cell settings-value" ><input type="text" name="concurrent_transfers" ng-model="settings.concurrent_transfers"></div>
      </div>
      <div class="row settings-row">
        <div class="cell settings-key wider" >Concurrent Connections</div>
        <div class="cell settings-value" ><input type="text" name="concurrent_transfers" ng-model="settings.concurrent_connections"></div>
      </div>
      <div class="row settings-row">
        <div class="cell settings-key wider" >Sentry DSN</div>
        <div class="cell settings-value" ><input type="text" name="raven_dsn" ng-model="settings.raven_dsn"></div>
      </div>
    </div>

</div>

<div class="modal-footer">
    <div class="table">
        <div class="row">
            <div class="cell version" >
                <div id="settings_spin">&nbsp;</div>
                <button class="btn btn-primary" ng-click="update()" ng-show="update_available">Update</button>
                &nbsp; Version: {{ settings.version }}
            </div>
            <div class="cell">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button class="btn btn-danger" ng-click="restart()">Restart</button>
            </div>
        </div>
    </div>
</div>